.card {
  border: 2px solid #009DAF;
  background: #F15025;
  width: 18rem;
  margin: 20px;
  box-shadow: 5px 10px #888888;
}

.card-text {
  max-width: 260px;
}

.card-container {
  margin: 20px;
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;

}

.btn {
  background-color: #009DAF;
  border: solid 1px rgba(203, 210, 208, 1);
  
  
}

.cart {
padding: 5px;
margin-left: 75%;
height: 1px;
width: 1px;
position: inherit;
}

body {
background-color: #050609;
}