.footer {
    background: rgba(240, 225, 0, 1);
    color: rgba(51, 50, 50, 1);
    height: 400px;
    width: 100%;
    position: relative;
}
.footer .footer-bottom {
    background: rgba(232, 238, 242, 1);
    color: rgba(51, 50, 50, 1);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;

}
.footer .footer-content {
    border: 1px solid rgba(247, 178, 173, 1);;
    height: 350px;
    display: flex;
}
.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;

    

}
.footer-section-about{
    width: 500px;
    height: 150px;
}
.footer-section-links {
    width: 250px;
    height: 150px;
}
.footer-section-links ul li {
    list-style: none;
    display: inline-block;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background: rgba(240, 225, 0, 1);
    border: 3px solid rgba(247, 178, 173, 1);
}

html, body {
    height: 100%;

}

.logo-text {
    color: rgba(247, 178, 173, 1);
    border: 2px solid rgba(203, 210, 208, 1);
}

.logo-text2 {
    color: rgba(203, 210, 208, 1);
    border: 2px solid rgba(247, 178, 173, 1);
}

.footer-section-links .fa {
    font-size: 70px;
    color: rgba(247, 178, 173, 1);
}
